body {
  width: 300px;
  display: flex;
  flex-direction: column;
  place-items: center;
  color: #e00000;
  background-color: white;
}

button {
  display: block;
  width: 50%;
  padding: 0.5em;
  border-radius: 10px;
  color: white;
  background-color: #e00000;
  font-size: 1.2em;
  font-weight: bold;
}
